body{
	text-align: right;
	direction: rtl;
	background-color: rgb(242, 242, 242);
}

#search-area{
	margin-top: 100px;
	text-align: center;
}

#search-area #img{
	margin-bottom: 40px;
}

form#search_form {
  margin-top: 0;
  margin-left: -273px;
  position: fixed;
  left: 50%;
  display: block;
}

form#search_form input[type="text"] {
  height: 31px;
  width: 450px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  border: none;
  padding: 4px 10px 0 64px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, .08)),to(rgba(0, 0, 0, .01)));
  background: -moz-linear-gradient(0% 100% 90deg, rgba(0, 0, 0, .01), rgba(0, 0, 0, .08));
  box-shadow: 0 1px 0 rgba(255, 255, 255, .87), inset 0 1px 2px rgba(0, 0, 0, .2), inset 0 0 1px rgba(0, 0, 0, .25);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .87), inset 0 1px 2px rgba(0, 0, 0, .2), inset 0 0 1px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .87), inset 0 1px 2px rgba(0, 0, 0, .2), inset 0 0 1px rgba(0, 0, 0, .25);
  -o-box-shadow: 0 1px 0 rgba(255, 255, 255, .87), inset 0 1px 2px rgba(0, 0, 0, .2), inset 0 0 1px rgba(0, 0, 0, .25);
  font-family: "B Mitra", "Arial", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
  color: #555;
  float: right;
}

form#search_form input[type="text"], x:-moz-any-link { padding: 3px 10px 1px 64px; }
form#search_form input[type="text"], x:-moz-any-link, x:default { padding: 3px 10px 1px 64px; }

form#search_form input[type="text"]:focus {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, .1)),to(rgba(0, 0, 0, .01)));
  background: -moz-linear-gradient(0% 100% 90deg, rgba(0, 0, 0, .01), rgba(0, 0, 0, .1));
  box-shadow: 0 1px 0 rgba(255, 255, 255, .87), inset 0 2px 4px rgba(0, 0, 0, .2), inset 0 0 1px rgba(0, 0, 0, .25);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .87), inset 0 2px 4px rgba(0, 0, 0, .2), inset 0 0 1px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .87), inset 0 2px 4px rgba(0, 0, 0, .2), inset 0 0 1px rgba(0, 0, 0, .25);
  -o-box-shadow: 0 1px 0 rgba(255, 255, 255, .87), inset 0 2px 4px rgba(0, 0, 0, .2), inset 0 0 1px rgba(0, 0, 0, .25);
  color: #333;
}

form#search_form button {
  font-family: "B Mitra", "Arial", sans-serif;
  position: absolute;
  bottom: 13px;
  left: 4px;
  display: block;
  width: 50px;
  height: 27px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  font-size: 14px;
  line-height: 1em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
  padding: 1px 0 0;
  background: #f2f2f2;
  color: #555;
  font-weight: bold;
  box-shadow: 0 0 1px rgba(0, 0, 0, .25), 0 3px 7px rgba(0, 0, 0, .4), inset 0 1px 0 rgba(255, 255, 255, .87);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .25), 0 3px 7px rgba(0, 0, 0, .4), inset 0 1px 0 rgba(255, 255, 255, .87);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, .25), 0 3px 7px rgba(0, 0, 0, .4), inset 0 1px 0 rgba(255, 255, 255, .87);
  -o-box-shadow: 0 0 1px rgba(0, 0, 0, .25), 0 3px 7px rgba(0, 0, 0, .4), inset 0 1px 0 rgba(255, 255, 255, .87);
  cursor: pointer;
  text-align: center;
}

form#search_form button:active {
  box-shadow: 0 0 1px rgba(0, 0, 0, .2), 0 1px 3px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(255, 255, 255, .87);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .2), 0 1px 3px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(255, 255, 255, .87);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, .2), 0 1px 3px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(255, 255, 255, .87);
  -o-box-shadow: 0 0 1px rgba(0, 0, 0, .2), 0 1px 3px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(255, 255, 255, .87);
  background: #e5e5e5;
  color: #333;
  outline: none;
}

#top-search-area{
	margin-top: 25px;
	height:80px;
}
#top-search-area #img{
	width:50px;
	margin-right:40px;
	margin-top: -10px;
}

#results-area{
	margin-top: 30px;
}

#results-area #box{
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	background: rgb(255,255,255);
	font-size:18px;
	padding:20px;
	box-shadow: 0 0 1px rgba(0, 0, 0, .2), 0 1px 3px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(255, 255, 255, .87);
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .2), 0 1px 3px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(255, 255, 255, .87);
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, .2), 0 1px 3px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(255, 255, 255, .87);
	-o-box-shadow: 0 0 1px rgba(0, 0, 0, .2), 0 1px 3px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(255, 255, 255, .87);
}

.offsetr{
  margin-right: 40px;
}

#results-area #box div{
	margin-bottom: 30px;
}

#results-area #box span{
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	/*border: 1px solid rgba(155, 155, 155, 0.5);*/
	font-size:20px;
	line-height:25px;
}
  #results-area #box .valency span{
    padding: 5px;
  }
  #results-area #box .valency{
    margin-bottom: 60px;
  }
  #results-area #box .example span{
    padding: 2px;
  }

#results-area #box div>span{
	
}
#results-area #box span span{
	height:20px;
}

#results-area #box div.valency span.fa{
	background: rgba(200, 0, 0, 0.3);
}
#results-area #box div.valency span.mf{
	background: rgba(0, 200, 0, 0.3);
}
#results-area #box div.valency span.mfh{
	background: rgba(0, 0, 200, 0.3);
}
#results-area #box div.valency span.mfh span.perp{
	background: rgba(100, 0, 200, 0.2);
}
#results-area #box div.valency span.verb{
	background: rgba(0, 200, 200, 0.3);
}

#results-area #box .example span.makhfi{
  background-color: #DDD;
  border: 1px dashed #EEE;

}